
$apm-font-family: 'Roboto Slab', serif;

$apm-font-size: (
    font-size-l: 4rem,
    font-size-0: 3rem,
    font-size-1: 2rem,
    font-size-2: 1.6rem,
    font-size-3: 1.4rem,
    font-size-4: 1.2rem,
    font-size-5: 1rem
);

$apm-colors: (
    primary: #001b4d,
    apm-gray: gray,
    apm-white: white,
    apm-light-gray: #fafafa,
    apm-orange: #ec7211,
    apm-blue: blue,
    apm-green: green,
    apm-red: #dc3545,
    apm-black: black
);