@import '../../../styles/commons';
@import '../../../styles/variables';

.header-name-container {
    height: 74px;
    padding: 0 2.4rem;
    
    @media screen and (max-width: 600px) {
        padding: 0 2rem;
    }
}

.nav-bar-container {
    height: 26px;
    padding: 0 2.4rem;
    background: map-get($apm-colors, 'primary');
}

.logo-container {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-image: url('../../../assets/img/logo.jpg');
    background-size: cover;

    @media screen and (max-width: 600px) {
        height: 50px;
        width: 50px;
    }
}

.vertical-line {
    height: 50px;
    border-right: 1px solid map-get($apm-colors, 'primary');
}
